.items {
    /* align-items: center; */
    /* display: flex; */
    font-size: large;
    font-weight: bold;
    /* margin-top: 10px; */
  }
  
.items-left{
    justify-content: space-between;
    margin-top: 20px;
    font-size: medium;
    align-items: center;
    display: flex;
  }

.items-small {
    font-size: xx-small;
  }
