.button_g {
    background-color: green;
}
.button_r {
    background-color: red;
}
change__button_r {
    background-color: red;
}
.pole__input {
    background-color: brown;
}
h1 {
    color: blue;
}