@import "reset-style.css";
@import "card.css";
@import "buttons.css";
@import "equipment.css";
@import "items.css";


  body {
    background-color: #e7ecf2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .link {
    color: black;
  }
  .link-btn {
    padding: 10px;
  }

  .modal {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    margin: 0 auto;
    overflow: hidden;
    width: 400px;
  }

  .cange-category__buttons-block {
    text-align: center;
  }
  .pole {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .pole__input, input[type="text"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
    .errorlist {
      list-style: none;
      color: red;
    }

    .category {
      display: flex;
      justify-content: space-evenly;
    }

    .container {
      padding: 10px 0;
      
    }
    .navbar {
      display: flex;
      justify-content: space-evenly;
    }
    .img {
      margin-top: 10px;
    }


   