
h1 {
}
.list {
    list-style: none;
}
.buttons {
  margin-top: 10px;
}
.buttons-right {
  margin-top: 0px;
  margin-left: 20px;
}
.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: black;
    font-weight: bold;
  }
  .btn-right {
    padding: 0px;
    font-weight: normal;
    font-size: x-small;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }
  body {
    background-color: #e7ecf2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .link {
    text-decoration: none;
    color: black;
  }
  .link-btn {
    padding: 10px;
  }

  .modal {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.3);
    margin: 0 auto;
    overflow: hidden;
    width: 600px;
  }

  .cange-category__buttons-block {
    text-align: center;
  }
  .pole {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .pole__input, input[type="text"] {
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  ul {
    padding: 0;
  }

    .items {
      /* align-items: center; */
      /* display: flex; */
      font-size: large;
      font-weight: bold;
      margin-top: 10px;
    }
    
    .items-left{
      align-items: center;
      display: flex;
    }

    .errorlist {
      list-style: none;
      color: red;
    }

    .category {
      display: flex;
      justify-content: space-evenly;
    }

    .container {
      padding: 10px 0;
      
    }
    .navbar {
      display: flex;
      justify-content: space-evenly;
    }
    .img {
      margin-top: 10px;
    }