{% extends "layouts/base.html" %}
{% block title %} cange category {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="modal">
        <h2>Change operation category</h2>

        <div class="pole">
            <label class="pole__label">New name:</label>
            {{form.category_name}}
            <span>{{form.errors.category_name}}</span>
        </div>
        <div class="pole">
            <label class="pole__label">Info:</label>
            {{ form.category_info}}
            <span>{{form.errors.category_info}}</span>
        </div>

    <div class="buttons">
        <button class="btn change__button_g" type="submit">Submit</button>
        <button class="btn change__button_r" type="reset" ><a class="link link-btn" href="{% url 'accounting:get_operation_category' %}" role="button" > Cancel </a></button>
    </div>
</div>
</form>


{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}