{% extends "layouts/base.html" %} {% block title %} add equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<form method="POST" action="{% url 'users:add_user_position' %}">
  {% csrf_token %}
  <div class="modal">

    <div class="pole">
      <label class="pole__label">Enter position category: {{form.positions_category}}</label>
      <span>{{form.errors.positions_category}}</span>
    </div>

    <div class="pole">
      <label class="pole__label"> Wrote position category info: {{form.positions_category_info}}</label>
      <span>{{form.errors.positions_category_info}}</span>
    </div>

   
    <div class="buttons">
      <button class="btn" type="submit">Submit</button>
      <button class="btn" type="reset">
        <a
          class="link link-btn"
          href="{% url 'users:main' %}"
          role="button"
        >
          Cancel
        </a>
      </button>
    </div>
  </div>
</form>

{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}
