{% extends "layouts/base.html" %} 
{% block title %} Change user position {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}

<form method="POST" action="{% url 'users:change_user_position' position_id=user_position.id %}">

 

  {% csrf_token %}
  <div class="modal">

    <div class="pole">
      <label class="pole__label">Change position category: </label>
      {{form.positions_category}}
      <span>{{form.errors.positions_category}}</span>
    </div>

    <div class="pole">
      <label class="pole__label"> Change position category info: </label>
      {{form.positions_category_info}}
      <span>{{form.errors.positions_category_info}}</span>
    </div>

   
    <div class="buttons">
      <button class="btn" type="submit">Submit</button>
      <button class="btn" type="reset">
        <a
          class="link link-btn"
          href="{% url 'users:get_user_position' %}"
          role="button"
        >
          Cancel
        </a>
      </button>
    </div>
  </div>
</form>

{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}
