{% extends "layouts/base.html" %}
{% block title %} category {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}



<div class="modal">

  {% if has_permission %}
  <a class="link" href="{% url 'users:signup' %}">Register new members</a>
  {% endif %}

<ul class="list" >
    {% for member in members%}
    <li class="items items-left">
      <a class="link" href="{% url 'users:profile' member.id %}" > 
        {{ member.user.username }} - {{member.user_name}} - {{member.user_lastname}}
      </a>
      
      {% if request.user.username == member.user.username or has_permission %}
        <div class="buttons buttons-right">
        <a class="link" href="{% url 'users:change_profile' member.id %}" role="button"><button class="btn btn-right" type="button"> Change</button></a>
        </div>
      {% endif %}
      {% if has_permission %}
        <div class="buttons buttons-right">
          <a class="link" href="{% url 'users:delete_profile' member.id %}" role="button"><button class="btn btn-right" type="button"> Delete</button></a>
        </div>
      {% endif %}

    </li>
    {% endfor %}
  </ul>
</div>




{% endblock content %}

<!-- Специфічний JS буде тут -->
{% block javascripts %}{% endblock javascripts %}