{% extends "layouts/base.html" %}
{% block title %} Add category {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} 

{% block content %}

{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="POST" action="{% url 'users:login' %}">
  {% csrf_token %}
  <div class="modal">
    <div class="pole">
    <label class="pole__label" for="{{ form.username.id_for_label }}">User name:</label
    >
    {{ form.username }}
  </div>
  <div class="pole">
    <label class="pole__label"> Password:</label>
    {{form.password}} 
  </div>
  <div class="buttons">
    <button class="btn" type="submit">Submit</button>
    <button class="btn" type="reset" class="secondary">Reset</button>
  </div>

  <div class="password-recovery">
    <a href="{% url 'users:recover_login_password' %}">Відновити логін та пароль</a>
  </div>
</div>
</form>

{% endblock content %}

<!-- Специфічний JS буде тут -->
{% block javascripts %}{% endblock javascripts %}