{% extends "layouts/base.html" %}
{% block title %}Profile {% endblock %}

{% block content %}
<div class="modal">

  <h1>User Profile</h1>
  <p>Username: <b>{{ users.user.username }}</b></p>
  <p>User Name: <b>{{ users.user_name }}</b></p>
  <p>User Lastname: <b>{{ users.user_lastname }}</b></p>
  <p>User Birthday: <b>{{ users.user_birthday }}</b></p>
  <p>User Avatar:</p>
  <img src="{{ users.user_avatar.url }}" alt="User Avatar" width="200">
  <p>User Experience: <b>{{ users.user_experience }}</b></p>
  <p>User Location: <b>{{ users.user_location }}</b></p>
  <p>User Info: <b>{{ users.user_info }}</b></p>
  <p>Phone: <b>{{ users.phone }}</b></p>
  <p>Email: <b>{{ users.email }}</b></p>
  <p>User Positions:</p>
  <ul class="list">
    {% for position in users.user_position.all %}
      <li class="items">{{ position.positions_category }}</li>
    {% empty %}
      <li class="items">No positions</li>
    {% endfor %}
  </ul>


  {% if request.user.username == users.user.username or has_permission %}
    <a class="link" href="{% url 'users:change_profile' users.id %}" role="button"><button class="btn" type="button"> Change</button></a>
  {% endif %}

</div>
{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}