{% extends "layouts/base.html" %} 
{% block title %} User Profile {% endblock %}
{% block content %}
<div class="modal">
  <h2>{{ users.user.username }}</h2>
  <div class="card">
    <div class="card__image-frame">
      <img src="{{ users.user_avatar.url }}" alt="User Avatar" width="200" />
    </div>
    <div class="card__content">
    
    <!-- <p>Username: {{ users.user.username }}</p> -->
    <p>Name: {{ users.user_name }}</p>
    <p>Lastname: {{ users.user_lastname }}</p>
    <p>Birthday: {{ users.user_birthday }}</p>
    <!-- <p>Avatar:</p> -->
    
    <p>Experience: {{ users.user_experience }}</p>
    <p>Location: {{ users.user_location }}</p>
    <p>Info: {{ users.user_info }}</p>
    <p>Phone: {{ users.phone }}</p>
    <p>Email: {{ users.email }}</p>
    <p>Positions:</p>
    <ul class="list">
      {% for position in users.user_position.all %}
      <li >{{ position.positions_category }}</li>
      {% empty %}
      <li >No positions</li>
      {% endfor %}
    </ul>
  </div>
</div>
    {% if request.user.username == users.user.username%}
    <div class="buttons">
    <a
      class="link"
      href="{% url 'users:change_profile' users.id %}"
      role="button"
      ><button class="btn" type="button">Change</button></a
    >
    <a
      class="link"
      href="{% url 'users:update_account_information' users.id %}"
      role="button"
      ><button class="btn" type="button">Change Password and Login</button></a>
  </div>
    {% endif %}
  
</div>
{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}
