{% extends "layouts/base.html" %}
{% block title %} delete equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="modal">
<h2>Відновлення логіна та пароля</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="buttons">
    <button class="btn" type="submit">Відправити</button>
    </div>
</form>
</div>
{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}