{% extends "layouts/base.html" %}
{% block title %} delete equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="modal">
<h2>Відновлення пароля</h2>

<form method="post" action="{% url 'users:reset_password' token=token %}">

    {% csrf_token %}
    <input type="hidden" name="token" value="{{ token }}">
    <label for="login">Логін:</label>
    <input type="text" name="login" value="{{ login }}" readonly><br>
    <label for="password">Новий пароль:</label>
    <input type="password" name="password" required><br>
    <input type="submit" value="Змінити пароль">
</form>
</div>
{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}