{% extends "layouts/base.html" %}
{% block title %} Singup {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<form method="POST" action="{% url 'users:signup' %}">
    {% csrf_token %}
    <div class="modal">
    <div class="pole">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        
        <span>{{form.errors.username}}</span>
    </div>
    <div class="pole">
        <label> Password:</label>
        {{form.password1}}
        <span>{{form.errors.password1}}</span>
    </div>
    <div class="pole">
        <label> Password confirm:</label>
        {{form.password2}}
        <span>{{form.errors.password2}}</span>
    </div>
    <div class="buttons">
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="reset" class="secondary">Reset</button>
    </div>
</div>
</form>

{% endblock content %}

<!-- Специфічний JS буде тут -->
{% block javascripts %}{% endblock javascripts %}