{% extends "layouts/base.html" %}
{% block title %} add user position {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %}


<!-- <div class="modal"> -->
    <!-- <h3>Map</h3> -->
    <div id="map" class="map"></div>
    <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([30.59, 50.43]),
          zoom: 9
        })
      });
    </script>
<!-- </div> -->


{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}

{% endblock javascripts %}