{% extends "layouts/base.html" %} 
{% block title %} add user position {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}


<div class="modal">
<h2>
Sorry, this page is currently under development. We are working on improving it to provide
you with the best user experience. Please wait, and soon you will be able to enjoy the full
functionality of our service. Thank you for your understanding!
</h2>
</div>


{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}
