# Django settings
SECRET_KEY=your_secret_key
DEBUG=choose_True_or_False

# Database settings
DB_ENGINE=your_db_engine
DB_NAME=your_db_name

# Email settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password