<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Assistant - {% block title %}{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="....." />
    <meta name="keywords" content="......." />
    <meta name="author" content="..." />

    <!-- fontawesome icon -->
    <!-- <link
      rel="stylesheet"
      href="{{ ASSETS_ROOT }}/fonts/fontawesome/css/fontawesome-all.min.css"
    /> -->
    <!-- animation css -->
    <!-- <link
      rel="stylesheet"
      href="{{ ASSETS_ROOT }}/plugins/animation/css/animate.min.css"
    /> -->

    {% load static %}

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}" />
    <!-- dark mode css -->
    <!-- <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/dark.css" /> -->

    <!-- Favicon icon -->
    <link
      rel="icon"
      href="{% static '/assets/images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Специфічний CSS буде тут -->
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
<!--                <a class="navbar-brand mr-5" href="news/today/">News</a>-->
<!--                <a class="navbar-brand mr-5" href="contact_book/">Contact book</a>-->

                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="/files/">облік коштів</a>
                        <a class="nav-item nav-link" href="{% url 'equipment:get_equipments' %}">Облік спорядження</a>
                        <a class="nav-item nav-link" href="/files/">члени клубу</a>
                        {% endif %}

                        <a class="nav-item nav-link" href="/files/">карта</a>
                        <a class="nav-item nav-link" href="/files/">календар подій</a>
                        <a class="nav-item nav-link" href="/files/">історія походів</a>
                        <!-- <a class="nav-item nav-link" href="{% url 'users:signup' %}">Register</a> -->
                  
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse flex-row-reverse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                
                                <a class="nav-item nav-link" href="{% url 'users:profile' user_id=user.id %}"><b>{{ user.username }}</b></a>

                                <a class="nav-item nav-link" href="{% url 'users:logout' %}">Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{% url 'users:login' %}">Login</a>
                                <a class="nav-item nav-link" href="{% url 'users:signup' %}">Register</a>
                            {% endif %}
                        </div>
                  </div>
            </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages%}
                    <div class="alert {{ message.tags }}"  role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

    {% block content %}{% endblock content %} {% include "includes/scripts.html" %}

    <!-- Специфічний JS буде тут -->
    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>
