

<form method="POST" action="{% url 'equipment:add_equipment' %}">
    {% csrf_token %}
    <div class="pole" >
        <label class="pole__label">Enter equipment name: </label>
        <input class="pole__input" type="text" name="equipment_name">
        <span>{{form.errors.equipment_name}}</span>
    </div>
    <div class="pole" >
        <label class="pole__label">weight of equipment kg: </label>
        {{form.weight_of_equipment_kg}}
        <span>{{form.errors.weight_of_equipment_kg}}</span>

    </div>
    <div class="pole" >
        <label class="pole__label">Enter equipment photo path: </label>
        <input class="pole__input" type="text" name="photo_of_equipment">
        <span>{{form.errors.photo_of_equipment}}</span>
    </div>

    <!-- <div style="padding: 10px">
        <label> Choose equipmant category:
            <select name="category" multiple="multiple" required>
                {% for category in categories %}
                <option value="{{category.equipment_category_name}}">{{category.equipment_category_name}}</option>
                {% endfor %}
            </select>
        </label>
    </div> -->

    <div class="grid">
        <button class="change__button_g" type="submit">Submit</button>
        <button type="reset" class="secondary">Скинути</button>
    </div>



</form>


