{% extends "layouts/base.html" %} {% block title %} add equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<form method="POST" action="{% url 'equipment:add_equipment' %}" enctype="multipart/form-data">

  {% csrf_token %}
  <div class="modal">
    <div class="pole">
      <label class="pole__label">Equipment name: {{ form.equipment_name }}</label>
      <span>{{ form.errors.equipment_name }}</span>
    </div>

    <div class="pole">
      <label class="pole__label">
        Choose equipment category:
        <select class="pole__input" name="categories" required>
          {% for category in categories %}
          <option value="{{category.equipment_category_name}}">
            {{category.equipment_category_name}}
          </option>
          {% endfor %}
        </select>
      </label>
    </div>

    <div class="pole">
      <label class="pole__label">Photo of equipment:</label>
      {{ form.photo_of_equipment }}
      <span>{{ form.errors.photo_of_equipment }}</span>
    </div>
    

    <div class="pole">
      <label class="pole__label">Weight of equipment kg: {{ form.weight_of_equipment_kg }}</label>
      <span>{{ form.errors.weight_of_equipment_kg }}</span>
    </div>

    <div class="pole">
      <label class="pole__label">Equipment description: {{ form.equipment_description }}</label>
      <span>{{ form.errors.equipment_description }}</span>
    </div>
    <div class="buttons">
      <button class="btn" type="submit">Submit</button>
      <button class="btn" type="reset">
        <a
          class="link link-btn"
          href="{% url 'equipment:get_equipments' %}"
          role="button"
        >
          Cancel
        </a>
      </button>
    </div>
  </div>
</form>

{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}
