{% extends "layouts/base.html" %}
{% block title %} category {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="modal">
<a class="link" href="{% url 'equipment:add_category' %}" role="button">Add category</a>


<ul class="list" >
    {% for category in categories%}
    <li class="items">
      {{category.equipment_category_name}}
      
      <div class="buttons">
      <a class="link" href="{% url 'equipment:change_category' category.id %}" role="button"><button class="btn" type="button"> Change</button></a>
      <a class="link" href="{% url 'equipment:delete_category' category.id %}" role="button" class="contrast"><button class="btn" type="button"> Delete</button></a>
    </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}

<!-- Специфічний JS буде тут -->
{% block javascripts %}{% endblock javascripts %}