<form method="POST">
    {% csrf_token %}
    <div class="pole" >
        <label class="pole__label">Change equipment category name: </label>
        <input class="pole__input" type="text" name="equipment_category_name" value={{category.equipment_category_name}}>
        <span>{{form.errors.equipment_category_name}}</span>
    </div>
    
    <div class="grid">
        <button class="change__button_g" type="submit">Submit</button>
        <button class="change__button_r" type="reset" ><a href="{% url 'equipment:get_category' %}" role="button" > Reset </a></button>
    </div>
</form>