{% extends "layouts/base.html" %}
{% block title %} checker {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="modal">
  <h1>{{ msg }}</h1>
  <ul class="list">
    <li class="items"><a class="link" href="../category">Category</a></li>
    <li class="items"><a class="link" href="../">equipment</a></li>
  </ul>
</div>
  {% endblock content %}

  <!-- Специфічний JS буде тут  -->
  {% block javascripts %}{% endblock javascripts %}