{% extends "layouts/base.html" %} 
{% block title %} delete equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="modal">
  <h2>{{equipment.equipment_name}}</h2>
  <div class="card">
    
    <div class="card__image-frame">
      <img
        src="{{ equipment.photo_of_equipment.url }}"
        alt="Photo of equipment"
        width="200"
      />
    </div>
     <div class="card__content">
      

      <p>Weight: {{equipment.weight_of_equipment_kg}}kg</p>
      <p>Category:</p>
      <ul class="list">
        {% for category in equipment.equipment_category.all %}
        <li >{{ category.equipment_category_name }}</li>
        {% endfor %}
      </ul>
      <p>Current user: {{equipment.current_user}}</p>
     </div>
    </div>

    <div class="buttons">
        {% if permission %}
        <a
          class="link"
          href="{% url 'equipment:change_equipment' equipment.id %}"
          role="button"
          ><button class="btn" type="button">Change</button></a
        >
        {% endif %}
        <a
          class="link"
          href="{% url 'equipment:book_equipment' equipment.id %}"
          role="button"
          class="contrast"
          ><button class="btn" type="button">Book</button></a
        >
    </div>
  
</div>

{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}
