{% extends "layouts/base.html" %}
{% block title %} delete equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="modal">
    <h1>{{equipment.equipment_name}}</h1>
    <p>Weight of equipment kg: <b>{{equipment.weight_of_equipment_kg}}</b></p>
    <p>Photo of equipment: <b>{{equipment.photo_of_equipment}}</b></p>
    <p>Now booked: <b>{{equipment.now_booked}}</b></p>
    <p>Equipment_category: <b>{{equipment.equipment_category}}</b></p>
    </div>

    
{% endblock content %}

<!-- Специфічний JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}