{% extends "layouts/base.html" %}
{% block title %} equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="modal">
  <div class="category">
    {% if has_permission %}
    <a class="link" href="{% url 'equipment:add_equipment' %}" role="button">Add equipment</a>
    <a class="link" href="{% url 'equipment:get_category' %}" role="button">Get categories</a>
    <a class="link" href="{% url 'equipment:add_category' %}" role="button">Add category</a>
    {% endif %}
  </div>

  <ul class="list">
    {% for equipment in equipments %}
    <li class="items items-left">
      <a class="link" href="{% url 'equipment:detail_equipment' equipment.id %}" role="button" class="outline">{{ equipment.equipment_name }}</a>
      
      {% for book_equ in booking_date %}
        {% if equipment.id == book_equ.reserved_equipment.id %}
          {{ book_equ.booking_date_from }} - {{ book_equ.booking_date_to }}
        {% endif %}
      {% endfor %}


      <div class="buttons buttons-right">
        {% if has_permission %}
        <a class="link" href="{% url 'equipment:change_equipment' equipment.id %}" role="button"><button class="btn btn-right" type="button">Change</button></a>
        <a class="link" href="{% url 'equipment:delete_equipment' equipment.id %}" role="button" class="contrast"><button class="btn btn-right" type="button">Delete</button></a>
        {% endif %}
        <a class="link" href="{% url 'equipment:get_book_equipment' equipment.id %}" role="button" class="contrast"><button class="btn btn-right" type="button">Reservation</button></a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}

<!-- Специфічна сторінка JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}