{% extends "layouts/base.html" %}
{% block title %} equipment {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="modal">
  <h2>Equipment</h2>
  <div class="category">
    {% if has_permission %}
    <a class="link" href="{% url 'equipment:add_equipment' %}" role="button"><button class="btn btn-right" type="button">Add equipment</button></a>
    <a class="link" href="{% url 'equipment:get_category' %}" role="button"><button class="btn btn-right" type="button">Get categories</button></a>
    <a class="link" href="{% url 'equipment:add_category' %}" role="button"><button class="btn btn-right" type="button">Add category</button></a>
    {% endif %}
  </div>

  <ul class="list">
    {% for equipment in equipments %}
    <li class="items items-left">
      <div class="equipment__name">
      <a class="link" href="{% url 'equipment:detail_equipment' equipment.id %}" role="button" class="outline">{{ equipment.equipment_name }}</a>
      </div>
      <div class="card__image-frame">
        <img
          src="{{ equipment.photo_of_equipment.url }}"
          alt="Photo of equipment"
          width="100"
        />
      </div>
      <div class="equipment__dates">
      <ul class="list">
      {% for book_equ in booking_date %}
        {% if equipment.id == book_equ.reserved_equipment.id %}
        <li class="items items-small">
            {{ book_equ.booking_date_from }} - {{ book_equ.booking_date_to }}
        </li>
          
        {% endif %}
      {% endfor %}
      </ul>
      </div>
      <div class="buttons buttons-right">
        {% if has_permission %}
        <a class="link" href="{% url 'equipment:change_equipment' equipment.id %}" role="button"><button class="btn btn-right" type="button">Change</button></a>
        <a class="link" href="{% url 'equipment:delete_equipment' equipment.id %}" role="button" class="contrast"><button class="btn btn-right" type="button">Delete</button></a>
        {% endif %}
        <a class="link" href="{% url 'equipment:get_book_equipment' equipment.id %}" role="button" class="contrast"><button class="btn btn-right" type="button">Reservation</button></a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}

<!-- Специфічна сторінка JS буде тут  -->
{% block javascripts %}{% endblock javascripts %}