{% extends "layouts/base.html" %}
{% block title %} category {% endblock %}

<!-- Специфічний CSS буде тут -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}


<div class="modal">
  <h2>Заброньовано:</h2>
<ul class="list" >
    {% for book_equipment in book_equipment_list %}
    <li class="items-left">
      з {{ book_equipment.booking_date_from }} по {{ book_equipment.booking_date_to }} - {{ book_equipment.club_member }}
      
      {% if request.user == book_equipment.club_member or permission%}
      <div class="buttons-block">
      <div class="buttons buttons-right">
        <a class="link" href="{% url 'equipment:cancel_equipment_reservation' book_equipment.id %}" role="button" >
          <button class="btn btn-right" type="button">Delete</button>
        </a>
      </div>
      {% endif %}
      
    
    {% endfor %}
  
  <div class="buttons buttons-right">
    <a class="link" href="{% url 'equipment:book_equipment' equipment.id %}" role="button">
      <button class="btn btn-right" type="button">Book</button>
    </a>

  </div>
</div>
  </li>
  </ul>
</div>

{% endblock content %}

<!-- Специфічний JS буде тут -->
{% block javascripts %}{% endblock javascripts %}